body {
  font-family: "Lora", serif;
  max-width: 60%;
  width: auto;
  margin: 0 auto;
  height: auto;
  background-color: lavenderblush;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

#description {
  text-align: center;
  border: 2px solid black;
  background-color: lavender;
}

.container {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  display: block;
  text-align: center;
}

.box {
  padding-top: 5px;
  padding-bottom: 5px;
}

.cb {
  display: flex;
  justify-items: first baseline;
  padding-left: 100px;
}

.area {
  display: block;
  margin-bottom: 5px;
  justify-content: center;
}

button {
  background: none;
  color: #000;
  border: 2px solid;
  padding: 1em 1em;
  font-size: 10.5m;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
  margin-bottom: 5px;
}

button:hover {
  border-color: #000;
  color: #000;
  border: 4px solid;
  font-weight: 500;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}
